---
layout: card
title: Lady Bee Mixology - Gourmet, Ready-To-Drink Cocktails
---
  {% if site.title %}
  <h1 class="pageTitle">{{ site.title }}</h1>
  {% endif %}

  {% if site.content %}
  <p class="pageContent">{{ site.content }}</p>
<div class="menu">
<h2>Our Menu</h2>
<li>
  <ul>
      <h3>Whiskey Sours</h3>
    <dl>
      <dt>Golden Hour</dt>
      <dd>Rich sorrel notes, juicy strawberry and dash of fresh basil & whiskey</dd>
      <dt>Peach Heaven</dt>
      <dd>Ripe,juicy peaches muddled with zesty lime, finished witha  bold pour of whiskey</dd>
    </dl>
  </ul>
  <ul>
    <h3>Sangrias</h3>
     <dl>
       <dt>Moonlight Bloom</dt>
       <dd>Fruit Tea & Rosemary create an aromatic base, deepened by sweet red wine and a touch of cranberry. Finished with blackberry brandy for a velvety flavor.</dd>
     </dl>
  </ul>
  <ul>
    <h3>Lemonades</h3>
      <dl>
       <dt>Sweet Desire</dt>
       <dd>Gin meets juicy lychee, fresh basil, delicate elderflower & finished with a twist of lime.</dd>
        <dt>Lychee Reverb</dt>
       <dd>Smooth Vodka and juicy lychee hit the high notes while ginger beer brings a zesty kick that lingers</dd>
      </dl>
  </ul>
  <ul>
    <h3>Margaritas</h3>
     <dl>
       <dt>Summer Whisper</dt>
       <dd>Crafted with smooth tequila, fresh orange juice and a delicate kiss of orange blossom with lavender</dd>
     </dl>
  </ul>
</li>
  {% endif %}
